
#adminContent {
	position: relative;
	width: 1253px;
	height: 620px;
	margin: 0 auto;
	padding: 15px;
	border: 1px solid white;
	overflow: hidden;
	color: #FFFFFF;
}

.cnt {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
}

.p8-scroll {
	overflow: auto;
}